version: 2.1
jobs:
  build:
    docker:
      - image: alpine:3.15
    steps:
      - run:
          name: 'Docker Image'
          command: |
            echo 'Hello World!'
            echo 'This is the delivery pipeline'
            
            if [ "${CIRCLE_BRANCH}" == "production" ] || [ "${CIRCLE_BRANCH}" == "staging" ] || [ "${CIRCLE_BRANCH}" == "delivery-timing2" ] || [ "${CIRCLE_BRANCH}" == "pepperoni_special" ] || [ "${CIRCLE_BRANCH}" == "master" ] || [ "${CIRCLE_BRANCH}" == "staging3" ] || [ "${CIRCLE_BRANCH}" == "main" ]; then
              TAG=$CIRCLE_BUILD_NUM
              docker build -t pizzaiolodocker/devtest:$TAG .
              docker login -u $DOCKER_USER -p $DOCKER_PASS
              docker push pizzaiolodocker/devtest:$TAG
            fi
